<h1>Angular, I am here!</h1>

<!-- <button (click)="toggle = !toggle">Toggle</button>
<button (click)="toggle = 111">Set 111</button> -->

<!-- bind in one direction [] -->
<!-- bind opp direction () -->
<!-- pattern changes *  -->

<!-- <p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, eum!</p>
<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, rerum.</p>
</ng-template> -->

<!-- <div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit.</p>
  <p *ngSwitchDefault>Lorem ipsum.</p>
</div> -->

<!-- <ul>
  <li *ngFor="let n of arr; let idx = index">
    {{idx +1}} <strong>{{n}}</strong>
</li>
</ul> -->


<!-- <ul style="list-style:none;">
  <li *ngFor="let post of objs">
    <p>{{post.title}}</p> <b>{{post.author}}</b>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{comment.name}}</small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>
  </li>
</ul> -->

<p>{{ now | date }}</p>
